@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-kamen-gold: #d6b36a;
  --color-kamen-dark: #020405;
  --color-kamen-cream: #f2e9d7;
  --color-kamen-beige: #ab9c7d;
  --color-kamen-navy: #0f172a;
  --color-kamen-red: #a92f2f;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: light only;
  background-color: #11110b;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Manrope", sans-serif;
  background-color: #020405;
  color: #f2e9d7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}
