@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-kamen-gold: #d6b36a;
  --color-kamen-dark: #11110b;
  --color-kamen-cream: #f2e9d7;
  --color-kamen-beige: #ab9c7d;
  --color-kamen-navy: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}
